.header * {
  color: white;
  float: left;
}

.ant-layout {
  background-color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  background: #a50001;
}
.user-tag * {
  margin: 2px 0 2px 0;
}
.user-tag {
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content {
  margin: 20px;
}
